// Шрифты и переменные

$font-main: 'Manrope', sans-serif;
$color-primary: #198CFF;
$color-primary-hover: #006cd9;
$color-text: #333;
$bg-gradient: linear-gradient(117deg, #26adfe 0%, #005be5 100%);

body {
  font-family: $font-main;
  background: #ffffff;
  color: #000;
  margin: 0;
}

  .logo {
    display: block;

    img {
      height: 40px;
      width: auto;
      display: block;
    }
  }


.main {
  padding-top: 60px;
  background: url("img/bg.png") no-repeat top center;
  background-size: 100% auto;
  @media (max-width: 375px) {
    background: url("img/bg-mob.png") no-repeat top center;
    background-size: cover;
    padding-top: 25px;
  }

}
// Hero Section
.hero {
  padding: 100px 0 60px;
  text-align: left;
  position: relative;
  @media (max-width: 992px) {
    padding-top: 78px;
  }

  h1 {
    font-weight: 800;
    font-size: 96px;
    @media (max-width: 992px) {
      font-weight: 800;
      font-size: 48px;
      line-height: 142%;
    }
  }

  p {
    font-size: 18px;
    margin-top: 24px;
    color: $color-text;
    margin-bottom: 52px;
    @media (max-width: 992px) {
      padding-top: 16px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .btn-main {
    border:none;
    margin-top: 30px;
    background: $bg-gradient;
    color: #fff;
    padding: 14px 26px;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.3s;
    @media (max-width: 992px) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 700;
      font-size: 12px;
      padding: 12px;
      min-width: 150px;
    }

    &:hover {
      background-color: $color-primary-hover;
    }
  }

  .hero-image {
    max-width: 100%;
    margin-top: -77px;
    @media (max-width: 992px) {
      max-width: 180px;
      margin: 33px auto 50px;
    }
  }
}

// Platform Section
.platform {
  padding: 190px 0 80px;
  text-align: center;

  @media (max-width: 992px) {
    padding: 70px 0 50px;
  }

  h2 {
    font-weight: 800;
    font-size: 50px;
    @media (max-width: 992px) {
      font-size: 24px;
    }
  }

  p {

    margin: 37px auto 55px;
    font-size: 24px;
    line-height: 1.25;
    @media (max-width: 992px) {
      font-size: 12px;
      padding:0 22px;
    }
  }

  img {

    margin-top: 40px;
    @media (max-width: 992px) {
      margin-top: 0px;
      max-width: 360px;
    }
  }
}

/*2я СЕКЦИЯ*/
.coverage {
  position: relative;
  padding: 232px 0 30px;
  background-color: #fff;
  text-align: center;
  @media (max-width: 992px) {
    padding: 180px 0 0px;

  }
  @media (max-width: 375px) {
    background: linear-gradient(to bottom, #f8fcfd 0%, #ffffff 100%);
  }

  // Фоновая карта
  &__bg-none {
    padding: 163px 0 0px!important;
    background: #F7FBFF!important;
    &::before {
      background:transparent!important;
    }
    @media (max-width: 992px) {
      padding: 63px 0 0px!important;
    }
    h2 {

      margin-bottom: 93px!important;}
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    background: url("img/map-bg.png") no-repeat center top;
    background-size: contain;
    transform: translateX(-50%);
    opacity: 0.15;
    pointer-events: none;
    z-index: 0;
  }

  h2 {

    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    font-weight: 800;
    font-size: 50px;
    line-height: 108%;
    @media (max-width: 992px) {
      font-weight: 800;
      font-size: 24px;
      line-height: 100%;
      margin-bottom: 50px!important;
    }

    .text-primary {
      background: linear-gradient(90deg, #0043d3 0%, #459be2 51.92%, #b3e9ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text; // для Firefox
      color: transparent;    // на всякий случай

    }
  }

  .info-card {
    padding: 28px;
    height: 100%;
    background: #fff;
    border-radius: 16px;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(38, 38, 38, 0.1);
    @media (max-width: 992px) {
      border-radius: 6px;
      padding: 10px;
      min-height: 152px;
    }


    h4 {
      font-weight: 700;
      font-size: 40px;
      @media (max-width: 992px) {
        font-size: 14px;
      }
    }

    p {
      line-height: 133%;
      font-size: 18px;
      margin-top: 8px;
      color: #858585;
      @media (max-width: 992px) {
        font-size: 10px;
        margin-bottom: 0!important;
      }
    }
    .icon {
      width: 56px;
      height: 56px;
      text-align: center;
      background: linear-gradient(123deg, #0043d3 0%, #459be2 51.92%, #b3e9ff 100%);
      padding: 8px;
      border-radius: 12px;
      display: inline-block;
      @media (max-width: 992px) {
        width: 28px;
        height: 28px;
        border-radius: 5px;
        padding: 0px;
      }
    }
    .icon img {
      width: 40px;
      height: 40px;
      @media (max-width: 992px) {
        width: 21px;
        height: 21px;

      }
    }

    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    }
  }
}
/*3я СЕКЦИЯ feature*/
.features {
  padding: 161px 0 100px;
  background-color: #fff;
  text-align: center;
  @media (max-width: 992px) {
    padding: 70px 0;
    background: linear-gradient(to bottom, #ffffff 0%, #eaf6ff 100%);
  }
  &__bg {
    padding: 70px 0 120px!important;
    background: #F7FBFF!important;


    @media (max-width: 992px) { padding: 40px 0 35px!important; }

  }
  h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 5rem;
    @media (max-width: 992px) {
      font-weight: 800;
      font-size: 24px;
      line-height: 100%;
    }

    .gradient-text {
      background: linear-gradient(90deg, #0043d3 0%, #459be2 51.92%, #b3e9ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }
  }
  .feature-card.shadow-0 {
    box-shadow: none!important;
  }
  .info-img {
    width: 84px;
    height: 84px;
  }
  .feature-card {
    border: 1px solid rgba(38, 38, 38, 0.1);
    background: #fff;
    border-radius: 16px;
    text-align: left;
    height: 100%;
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 38px;

    @media (max-width: 992px) {
      border-radius: 6px;
      min-height: 192px;
      padding: 10px;

    }



    h5 {

      margin-top: 20px;
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 24px;
      line-height: 125%;
      color: #1f1f24;
      @media (max-width: 992px) {

        font-size: 14px;

      }
    }

    ul {
      padding-left: 1rem;
      margin-bottom: 0;

      li {
        font-size: 16px;
        margin-bottom: 8px;
        color: #858585;
        font-weight: 500;
        line-height: 150%;

        &::marker {
          font-size: 10px; // Увеличение размера точки
        }
        @media (max-width: 992px) {
          margin-bottom: 0px;
          font-size: 10px;

        }
      }
    }

    .feature-number {
      width: 56px;
      height: 56px;
      background:  linear-gradient(123deg, #0043d3 0%, #459be2 51.92%, #b3e9ff 100%);
      color: #fff;
      font-weight: 600;
      font-size: 24px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 992px) {
        border-radius: 5px;
        width: 28px;
        height: 28px;
        font-size: 12px;
      }

    }

    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    }
  }

  .btn-main {
    margin-top: 30px;
    background: $bg-gradient;
    color: #fff;
    padding: 14.5px 28px;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.3s;
    border:none;
    @media (max-width: 992px) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 700;
      font-size: 12px;
      padding: 12px;
      min-width: 130px;
      margin-bottom: 13px;

    }

    &:hover {
      background-color: $color-primary-hover;
    }
  }
}
/*4я СЕКЦИЯ white-label*/
.white-label {
  padding: 22px 0 100px;
  background: linear-gradient(180deg, #ffffff 0%, #d7f1ff 100%);
  text-align: center;
  @media (max-width: 992px) {
    padding: 0 0 51px;
    background: linear-gradient(to bottom, #eaf6ff 0%, #7cbdf9 100%);
  }


  h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 90px;
    @media (max-width: 992px) {
      font-weight: 800;
      font-size: 24px;
      line-height: 100%;
      margin-bottom: 54px;
    }

    .gradient-text {
      background: linear-gradient(90deg, #0043d3 0%, #459be2 51.92%, #b3e9ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }
  }

  .wl-card {
    min-height: 618px;
    border: 1px solid rgba(38, 38, 38, 0.1);
    overflow: hidden;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    background: #fff;
    border-radius: 16px;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transition: 0.3s;
    @media (max-width: 992px) {
      min-height: 270px;
      border-radius: 12px;
    }

    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    }

    h5 {
      margin-top: 40px;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 36px;
      line-height: 111%;
      @media (max-width: 992px) {
        font-size: 20px;
        margin-top: 33px;
        margin-bottom: 23px;
      }
    }

    p {

      margin-bottom: 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 133%;
      color: #858585;
      @media (max-width: 992px) {
        font-size: 14px;
        margin-bottom: 0px;

      }
    }

    .wl-icon  {
      width: 56px;
      height: 56px;
      text-align: center;
      padding: 8px;
      border-radius: 12px;
      display: inline-block;
      @media (max-width: 992px) {
        width: 36px;
        height: 36px;
        padding: 4px;
        border-radius: 10px;
      }
    }
    .wl-icon-1 {
      background:
              linear-gradient(133deg, #ffb196 0%, #ff4424 66.92%),
              rgba(178, 126, 237, 0.15);
      opacity: 0.8;
    }
    .wl-icon-2 {
      background:
              linear-gradient(133deg, #faa2a6 0%, #ff495e 100%),
              rgba(145, 146, 255, 0.15);
      opacity: 0.8;
    }
    .wl-icon-3 {
      background:
              linear-gradient(133deg, #b2f5cb 0%, #14e361 65.08%),
              rgba(178, 126, 237, 0.15);
      opacity: 0.8;
    }
    .wl-icon-4 {
      background:
              linear-gradient(133deg, #d0e0ff 0%, #326aff 75.83%),
              rgba(145, 146, 255, 0.15);
      opacity: 0.8;
    }
    .wl-icon-5 {
      background:
              linear-gradient(133deg, #ffb196 0%, #ff821c 66.92%),
              rgba(178, 126, 237, 0.15);
      opacity: 0.8;
    }
    .wl-icon-6 {
      background:
              linear-gradient(133deg, #ffcedd 0%, #ff759e 66.92%),
              rgba(178, 126, 237, 0.15);
      opacity: 0.8;
    }
    .wl-icon img {
      width: 40px;
      height: 40px;
      @media (max-width: 992px) {
        width: 23px;
        height: 23px;
      }
    }

    img.img-fluid {
      margin-top: auto;
      width: 100%;
      height: auto;
    }
  }
}
.white-label__bg {
  overflow: hidden;
  padding: 137px 0 0!important;

  background: #F7FBFF!important;
  z-index: -2;
  @media (max-width: 992px) {
    padding: 63px 0 0!important;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translate(-20%, 5%);
    background: url("img/bg-white-label-1.png") center center no-repeat;
    background-size: contain;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 58px;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translate(29%, 5%);
    background: url("img/bg-white-label-2.png") center right no-repeat;
    background-size: contain;
  }
  .pt-7 {
    padding-top: 7rem;
    @media (max-width: 992px) {
      padding-top: 33px;
    }
  }


}

/*5я СЕКЦИЯ plans*/
.plans {
  padding: 100px 0;
  background: url("img/bg-plans.png") no-repeat top center;
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  @media (max-width: 992px) {
    padding: 43px 0 61px;
  }

  h2 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 73px;
    @media (max-width: 992px) {
      font-size: 24px;

      margin-bottom: 0;
    }
  }

  .plan-card {

    border-radius: 15px;
    padding: 28px 37px;
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #d9e2f3;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    backdrop-filter: blur(64px);
    background: linear-gradient(177deg, rgba(188, 149, 212, 0.25) 0%, rgba(142, 133, 253, 0.25) 100%);

    &:hover {
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
    }
    @media (max-width: 992px) {
      padding: 15px 20px 15px;
    }

    h4 {

      color: #ffffff;
      margin-top: 8px;
      font-weight: 600;
      font-size: 36px;
      line-height: 86%;
      @media (max-width: 992px) {
        font-size: 24px;
        margin-top: 29px;
        margin-bottom: 23px;
      }
    }

    h6 {
      margin-top: 24px;

      color: #fff;
      font-weight: 600;
      font-size: 24px;
      @media (max-width: 992px) {
        margin-top: 0px;
        font-size: 16px;
      }
    }

    .plan-label {
      font-size: 12px;

      color: #8899bb;
      font-weight: 600;
      @media (max-width: 992px) {
        font-size: 10px;
      }
    }

    .plan-info {
      list-style: none;
      padding-left: 0;
      margin: 20px 0;

      li {
        font-size: 15px;
        line-height: 1.6;
        color: #c0cae9;
        @media (max-width: 992px) {
          font-size: 12px;
        }
      }
    }

    ul {
      list-style: disc;
      padding-left: 20px;
      margin-bottom: 20px;

      li {
        font-size: 15px;
        color: #d5e0f0;
        margin-bottom: 6px;
        @media (max-width: 992px) {
          font-size: 12px;
        }
      }
    }

    .plan-foot {


      font-weight: 500;
      font-size: 12px;
      line-height: 133%;
      text-align: center;
      color: rgba(203, 213, 225, 0.5);

    }
  }

  .addon-card {

    border-radius: 15px;
    padding: 32px;
    color: #d9e2f3;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    text-align: left;
    backdrop-filter: blur(64px);
    background: linear-gradient(177deg, rgba(188, 149, 212, 0.25) 0%, rgba(142, 133, 253, 0.25) 100%);

    .plan-label {
      font-size: 12px;
      text-transform: uppercase;
      color: #8899bb;
      font-weight: 600;
      margin-bottom: 4px;
    }

    h5 {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 8px;
      color: #fff;
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
    }

    .plan-foot {
      font-size: 13px;
      color: #8899bb;
    }
  }

  .btn-blue {
    border: none;

    color: #fff;
    padding: 16px 28px;
    border-radius: 50px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    transition: background 0.3s;
    margin-top: 30px;
    background: linear-gradient(117deg, #26adfe 0%, #005be5 100%);
    @media (max-width: 768px) {
      margin: 30px auto 0;
    }


    &:hover {
      background: linear-gradient(90deg, #1578d9 0%, #34aee6 100%);
    }

  }
}
/*6я СЕКЦИЯ roles*/
.roles {
  padding: 0px 0 135px;
  background-color: #F7FBFF!important;
  text-align: center;
  @media (max-width: 992px) {
    padding: 0px 0 60px;
  }

  h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 87px;
    @media (max-width: 992px) {
      font-size: 24px;
      margin-bottom: 37px;
    }
  }

  .role-table-wrapper {
    padding: 22px 22px 67px;
    background: transparent;
    border-radius: 21px;
    overflow: hidden;
    border: 2px solid rgba(38, 38, 38, 0.1);
    max-width: 795px;
    margin: 0 auto;


  }

  .role-table {
    width: 100%;
    margin: 0;

    thead {
      background: transparent;

      th {

        padding: 18px 22px 22px;
        text-align: left;
        color: #000;
        border-bottom: 1px solid rgba(38, 38, 38, 0.1);
        font-weight: 600;
        font-size: 30px;
        line-height: 80%;
        background: transparent;
        @media (max-width: 992px) {
          font-size: 16px;
          padding: 20px 0px 15px;
          width: 58%;
        }

      }
    }

    tbody {
      td {
        border-style: none;
        padding: 18px 22px 0;
        vertical-align: top;
        color: #444;
        text-align: left;
        background: transparent;
        font-weight: 500;
        font-size: 18px;
        line-height: 133%;
        color: rgba(0, 0, 0, 0.55);
        @media (max-width: 992px) {
          font-size: 10px;
          padding: 17px 0px 0;

        }

        &:first-child {
          text-align: left;

          white-space: nowrap;
          font-weight: 500;
          font-size: 18px;
          line-height: 133%;
          color: #000;
          @media (max-width: 992px) {
            font-size: 10px;

          }

        }
      }

      tr:last-child td {
        border-bottom: none;
      }
    }
  }
}
/*7я СЕКЦИЯ smart-interface*/
.smart-interface {
  padding: 0px;
  background-color: #F7FBFF!important;
  text-align: center;
  z-index: -2;
  &::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover !important;
    background: url("img/bg-smart-interface.png") center center no-repeat;
    @media (max-width: 576px) {
      background: url("img/bg-smart-interface-mob.png") center center no-repeat;
    }
  }

  h2 {


    margin-bottom: 80px;
    font-weight: 800;
    font-size: 50px;
    line-height: 108%;
    @media (max-width: 992px) {
      font-weight: 800;
      font-size: 24px;
      line-height: 100%;
      margin-bottom: 24px;
    }

    .gradient-text {
      background: linear-gradient(90deg, #0043d3 0%, #459be2 51.92%, #b3e9ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }
  }

  .smart-ui-img img {
    max-width: 100%;
    border-radius: 30px;

  }

  .smart-card {
    position: relative;
    z-index: 1;
    border-radius: 23px;
    padding: 10px 21px 21px;
    height: 100%;

    transition: 0.3s ease;
    backdrop-filter: blur(12px);
    background: linear-gradient(117deg, rgba(38, 173, 254, 0.1) 0%, rgba(0, 91, 229, 0.1) 100%);

    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
    @media (max-width: 992px) {
      border-radius: 10px;
      padding: 10px 10px 10px;
      backdrop-filter: blur(12px);
      background: linear-gradient(117deg, rgba(38, 173, 254, 0.1) 0%, rgba(0, 91, 229, 0.1) 100%);
    }

    h5 {
      font-weight: 600;
      font-size: 35px;
      margin-bottom: 20px;
      margin-top: 20px;
      line-height: 1;

      .gradient-text {
        background: linear-gradient(90deg, #0043d3 0%, #459be2 80.92%, #b3e9ff 109%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
      @media (max-width: 992px) {
        font-weight: 600;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }


    p {
      font-weight: 600;
      font-size: 15px;
      line-height: 133%;
      text-align: center;
      color: #374151;
      @media (max-width: 992px) {
        font-weight: 500;
        font-size: 10px;


      }
    }
  }
}


/*
.tech-section {
  background-color: #F7FBFF;


  .tech-grid {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 0.6fr; // последняя карточка меньше
    gap: 24px;
    @media (max-width: 992px) {
      gap: 12px;
    }



    .tech-row-bottom {
      grid-column: 1 / -1;
      display: grid;
      gap: 24px;
      grid-template-columns: 1fr 1fr 0.7fr; // последняя карточка меньше
      @media (max-width: 992px) {
        gap: 12px;
      }
    }
  }

  .tech-card {
    backdrop-filter: blur(12px);
    background: linear-gradient(117deg, rgba(38, 173, 254, 0.1) 0%, rgba(0, 91, 229, 0.1) 100%);
    border-radius: 23px;
    padding: 20px 13px 50px;
    text-align: center;
    min-height: 160px;
    @media (max-width: 992px) {
      border-radius: 10px;
      padding: 0px 13px 20px;
      text-align: center;
      min-height: 100px;
    }


    h5 {
      font-weight: 600;
      font-size: 35px;
      margin-top: 20px;
      margin-bottom: 20px;
      @media (max-width: 992px) {
        font-weight: 600;
        font-size: 18px;
      }

      .gradient-text {
        background: linear-gradient(90deg, #0043d3 0%, #459be2 80.92%, #b3e9ff 109%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
    }

    p {
      font-weight: 600;
      font-size: 15px;
      line-height: 1.3;
      margin: 0;
      @media (max-width: 992px) {
        font-weight: 500;
        font-size: 10px;
        line-height: 120%;
      }
    }
  }
}*/


.tech-section {
  background-color: #F7FBFF;
  @media (max-width: 768px) {

    background:none;
  }
  .container {
    max-width: 1320px;      // максимальная ширина контейнера
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;        // разрешаем перенос строк
    gap: 20px;              // отступ между блоками



    .tech-box:nth-child(1),
    .tech-box:nth-child(4) {
      flex: 0 0 calc(20% - 5px);  // фактически 20% минус доля gap
    }
    .tech-box:nth-child(2),
    .tech-box:nth-child(3) {
      flex: 0 0 calc(28% - 5px);  // 28% минус доля gap
    }
    .tech-box:nth-child(5),
    .tech-box:nth-child(6),
    .tech-box:nth-child(7) {
      flex: 0 0 calc((100% - 40px) / 3); // три блока по 32% с учётом 2×20px gap
    }





    // Десктоп (≥992px): настраиваем ширины по спецификации
    .tech-card {
      backdrop-filter: blur(12px);
      background: linear-gradient(117deg, rgba(38, 173, 254, 0.1) 0%, rgba(0, 91, 229, 0.1) 100%);
      border-radius: 23px;
      padding: 20px 13px 50px;
      text-align: center;
      min-height: 160px;
      @media (max-width: 992px) {
        border-radius: 10px;
        padding: 0px 13px 20px;
        text-align: center;
        min-height: 100px;
      }


      h5 {
        font-weight: 600;
        font-size: 35px;
        margin-top: 20px;
        margin-bottom: 20px;
        @media (max-width: 992px) {
          font-weight: 600;
          font-size: 18px;
        }

        .gradient-text {
          background: linear-gradient(90deg, #0043d3 0%, #459be2 80.92%, #b3e9ff 109%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
        }
      }

      p {
        font-weight: 600;
        font-size: 15px;
        line-height: 1.3;
        margin: 0;
        @media (max-width: 992px) {
          font-weight: 500;
          font-size: 10px;
          line-height: 120%;
        }
      }
    }
  }
}


.bg-footer-mob::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover !important;

  @media (max-width: 768px) {
    background: url('img/bg-footer-2-mob.png') bottom left no-repeat;
  }
}
.footer {
  z-index: 0;
  background: #F7FBFF;
  padding: 177px 0 84px;
  font-family: 'Manrope', sans-serif;
  @media (max-width: 768px) {
    padding:46px 0 30px;
    background:none;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;

    background: url('img/bg-footer-1.png') bottom left no-repeat;
    background-size: contain;
    @media (max-width: 768px) {
      background:none;
    }

  }

  &::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;

    background: url("img/bg-footer-2.png") bottom right no-repeat;
    background-size: contain;
    @media (max-width: 768px) {
      background:none;
    }

  }

  .footer-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }

  .footer-left,
  .footer-right {
    flex: 1 1 300px;
    @media (max-width: 992px) {
      flex: 1 1 200px;
    }
  }

  .footer-logo {
    height: 45px;
    width: auto;
    margin-bottom: 115px;
    @media (max-width: 992px) {
      margin: 0 auto 31px;
      height: 22px;
    }

  }

  h3 {
    font-weight: 800;
    font-size: 96px;
    line-height: 71%;
    color: #262626;
    margin-bottom: 50px;
    @media (max-width: 992px) {
      font-weight: 800;
      font-size: 48px;
      line-height: 142%;
      margin-bottom: 10px;
    }
  }
  p {
    font-weight: 400;
    font-size: 24px;
    color:#262626;
    @media (max-width: 992px) {
      font-size: 16px;
    }
  }

  .btn-blue {

    margin-top: 42px;
    display: inline-block;
    border:none;
    color: #fff;
    padding: 16px 42px;
    border-radius: 50px;
    font-weight: 600;
    transition: background 0.3s;

    background: linear-gradient(117deg, #26adfe 0%, #005be5 100%);


    &:hover {
      background: linear-gradient(90deg, #1578d9 0%, #34aee6 100%);
      text-decoration: none;
    }
    @media (max-width: 992px) {
      margin-top: 46px;
      margin-bottom: 40px;
    }
  }

  .footer-right {
    h5 {
      font-weight: 700;
      font-size: 40px;
      margin-bottom: 18px;
      margin-top: -20px;
      @media (max-width: 992px) {
        font-size: 18px;
      }
    }
    p {
      margin-bottom: 10px;
      color: #333;

      font-weight: 400;
      font-size: 24px;
      line-height: 271%;
      @media (max-width: 992px) {
        font-size: 14px;
      }
    }

    .footer-links a {
      line-height: 271%;
      font-weight: 400;
      font-size: 24px;

      color: rgba(38, 38, 38, 0.75);
      text-decoration: none;


      &:hover {
        text-decoration: underline;
      }
      @media (max-width: 992px) {
        font-size: 14px;
      }
    }
  }

  .text-muted {
    font-weight: 600;
    font-size: 24px;
    line-height: 271%;
    color: rgba(38, 38, 38, 0.75);
    @media (max-width: 992px) {
      font-size: 14px!important;
    }

  }

  .mt-9 {
    margin-top: 9rem;
    @media (max-width: 768px) {
      margin-top: 1rem;
    }
  }
}


.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  background: linear-gradient(117deg, rgba(38, 173, 254, 0.1) 0%, rgba(0, 91, 229, 0.1) 100%);
  z-index: 999;
}

.modal-form {
  border: 1px solid rgba(38, 38, 38, 0.1);
  max-width: 466px;
  width: 100%;
  background: #fff;
  border-radius: 16px;
  padding: 28px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-family: 'Manrope', sans-serif;
  position: relative;
  @media (max-width: 992px) {
    max-width: 311px;
    border-radius: 12px;
    padding: 16px;
  }

  .modal-icon {
    width: 56px;
    height: 56px;
    background:
            linear-gradient(133deg, #ffb196 0%, #ff4424 66.92%),
            rgba(178, 126, 237, 0.15);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;


    img {
      width: 35px;
      height: 35px;
      @media (max-width: 992px) {
        width: 23px;
        height: 23px;
      }
    }
    @media (max-width: 992px) {
      width: 36px;
      height: 36px;
    }
  }

  .modal-title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 4px;
    @media (max-width: 992px) {
      font-size: 18px;
    }
  }

  .modal-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #858585;
    margin-bottom: 24px;
    @media (max-width: 992px) {
      font-size: 12px;
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 16px;
    border-radius: 12px;
    border: none;
    background: #f2f3f5;
    font-size: 14px;
    resize: none;

    &:focus {
      outline: none;
      background: #eef0f2;
    }
  }
  input::placeholder
  {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: rgba(133, 133, 133, 0.65);
    @media (max-width: 992px) {
      font-size: 10px;
    }
  }
  label {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: rgba(133, 133, 133, 0.65);
    display: block;
    margin-bottom: 8px;
    @media (max-width: 992px) {
      font-size: 10px;
    }

  }

  .btn-submit {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 200px;
    width: 100%;
    padding: 14px;
    background: linear-gradient(117deg, #26adfe 0%, #005be5 100%);
    border: none;
    border-radius: 9999px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    @media (max-width: 992px) {
      font-size: 12px;
      padding: 10px;
      max-width: 150px;
    }

    &:hover {
      background: linear-gradient(90deg, #1578d9 0%, #34aee6 100%);
    }
  }

  .modal-footer {
    text-align: center;
    margin-top: 16px;

    .tg-link {

      margin: auto;
      text-decoration: none;
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 171%;
      background: linear-gradient(117deg, #26adfe 0%, #005be5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      @media (max-width: 992px) {
        font-size: 12px;
      }



      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.modal-close {
  position: absolute;
  width: 56px;
  border-radius: 10px;
  height: 56px;
  top: 28px;
  right: 28px;
  border: none;
  font-size: 0px;
  color: #888;
  cursor: pointer;
  transition: color 0.2s;
  background: rgba(217, 217, 217, 0.15);
  @media (max-width: 992px) {
    width: 36px;
    height: 36px;
    top: 16px;
    right: 16px;
  }

  &:hover {
    color: #000;
    background: linear-gradient(117deg, #26adfe 0%, #005be5 100%);
    svg path {
      stroke: white;
    }
  }
}



/*
@media (max-width: 1301px) {
  .tech-section{
    .tech-grid {

      grid-template-columns: 1fr 1fr; // последняя карточка меньше




      .tech-row-bottom {

        grid-template-columns: 1fr ; // последняя карточка меньше
      }
    }
  }

}
*/

@media (max-width: 992px) {
  .tech-section {
    .container {
      gap: 0px;
      .tech-box {
        &:nth-child(1) { order: 2; flex: 0 0 calc(50% - 5.5px); margin-right: 5.5px; }
        &:nth-child(2) { order: 5; flex: 0 0 calc(50% - 5.5px); margin-right: 5.5px;}
        &:nth-child(3) { order: 6; flex: 0 0 calc(50% - 5.5px); margin-left: 5.5px;}
        &:nth-child(4) { order: 3; flex: 0 0 calc(50% - 5.5px); margin-left: 5.5px;}
        &:nth-child(5) { order: 4; flex: 0 0 100%; margin-top: 16px;  margin-bottom: 16px;}
        &:nth-child(6) { order: 1; flex: 0 0 100%; margin-bottom: 16px;}
        &:nth-child(7) { order: 7; flex: 0 0 100%; margin-top: 16px;}
      }
    }


  }
}








@media (max-width: 768px) {
  .footer-grid {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    align-items: center;
  }
}



